@charset "utf-8";
body {
	margin:20px 0 0 0;
	background-color: #fff;
	text-align:center;
}


.content{
	position: relative;
	width:996px;
	height:446px;
	margin-right: auto;
	margin-left: auto;
	
}

.header{
	background-color:#FFF;
	height:80px;
	
}
.header #logo{
	position: relative;
	float: left;
	
}

.header #textleft{
	position: relative;
	float: left;
	font-family:微软雅黑,宋体;
	font-weight:bold;
	font-size:30px;
	color:#666;
	margin-top:30px;
	
}

.header #textright{
	font-family:Tahoma, Geneva, sans-serif;
	float:right;
	text-align:left;
	font-size:14px;
	color:#999;
	background-repeat:no-repeat;
	margin-right:30px;
	margin-top:45px;
}
.main{
	
	background-image: url(../images/login/bg.jpg);
	background-repeat:no-repeat;
	background-color: #FFF;
	height:450px;
	width:996px;
	margin-right: auto;
	margin-left: auto;
}


	
.loginForm {
	position:relative;
	top: 150px;
	text-align:left;
	padding-left:35%;
	padding-right:30%;
	margin-left:auto;
	margin-right:auto;
	
}


.logininput{
	
 	padding-top:8px;
 	padding-bottom:8px;
 	display:block;
}

.logininput #inputlable {
	height:25px;
	font-family:宋体;
	font-size: 12px;
	color: #000;
	line-height:25px;
	margin:auto;
	margin-right: auto;
	margin-left: auto;
}

input.txt{
	font-family:宋体;
	font-size: 12px;
	width: 160px;
	height:25px;
	line-height:25px;
	margin-bottom:0px;
	border:1px #6CF solid;
	}



select#select{
	
	width:165px;
	margin-top:2px;
	text-align:center;
	
}

.formbtnframe{
	padding-top:30px;
	height:50px;
	width:300px;
	}
	
#log{
	position: relative;
	margin-left:60px;
	width: 128px;
	height:35px;
	background-image: url(../images/login/submit.jpg);
	border:0px;
	}
	
input#res{
	position: relative;
	margin-left:10px;
	width: 35px;
	height:35px;
	line-height:35px;
	border:0px;
	background-image: url(../images/login/reset.jpg);
	background-color:#FFF;
	
	}
	

.err{
	color:red;
	font-family: 宋体,仿宋体;
	font-size: 14px;
	margin-left:5px;
	}

.footer hr{
	width:950px;
	border:#CCC 1px solid;
}
.footer #copyright{
	position: relative;
	padding-top:10px;
	text-align:center;
	font-family:Times New Roman, Times, serif;
	font-size:12px;
	color:#999;
	border-top:#999 1px ;
	}