<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jw.dao.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.jw.bean.Room" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="buildingnum" property="buildingnum" jdbcType="VARCHAR" />
    <result column="roomnum" property="roomnum" jdbcType="VARCHAR" />
    <result column="roomteacherid" property="roomteacherid" jdbcType="INTEGER" />
    <result column="cleanteacherid" property="cleanteacherid" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remakr2" property="remakr2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, buildingnum, roomnum, roomteacherid, cleanteacherid, remark, remark1, remakr2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jw.bean.RoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jw.bean.RoomExample" >
    delete from t_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jw.bean.Room" >
    insert into t_room (id, buildingnum, roomnum, 
      roomteacherid, cleanteacherid, remark, 
      remark1, remakr2)
    values (#{id,jdbcType=INTEGER}, #{buildingnum,jdbcType=VARCHAR}, #{roomnum,jdbcType=VARCHAR}, 
      #{roomteacherid,jdbcType=INTEGER}, #{cleanteacherid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{remark1,jdbcType=VARCHAR}, #{remakr2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jw.bean.Room" >
    insert into t_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="buildingnum != null" >
        buildingnum,
      </if>
      <if test="roomnum != null" >
        roomnum,
      </if>
      <if test="roomteacherid != null" >
        roomteacherid,
      </if>
      <if test="cleanteacherid != null" >
        cleanteacherid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remakr2 != null" >
        remakr2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="buildingnum != null" >
        #{buildingnum,jdbcType=VARCHAR},
      </if>
      <if test="roomnum != null" >
        #{roomnum,jdbcType=VARCHAR},
      </if>
      <if test="roomteacherid != null" >
        #{roomteacherid,jdbcType=INTEGER},
      </if>
      <if test="cleanteacherid != null" >
        #{cleanteacherid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remakr2 != null" >
        #{remakr2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jw.bean.RoomExample" resultType="java.lang.Integer" >
    select count(*) from t_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_room
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.buildingnum != null" >
        buildingnum = #{record.buildingnum,jdbcType=VARCHAR},
      </if>
      <if test="record.roomnum != null" >
        roomnum = #{record.roomnum,jdbcType=VARCHAR},
      </if>
      <if test="record.roomteacherid != null" >
        roomteacherid = #{record.roomteacherid,jdbcType=INTEGER},
      </if>
      <if test="record.cleanteacherid != null" >
        cleanteacherid = #{record.cleanteacherid,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.remark1 != null" >
        remark1 = #{record.remark1,jdbcType=VARCHAR},
      </if>
      <if test="record.remakr2 != null" >
        remakr2 = #{record.remakr2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_room
    set id = #{record.id,jdbcType=INTEGER},
      buildingnum = #{record.buildingnum,jdbcType=VARCHAR},
      roomnum = #{record.roomnum,jdbcType=VARCHAR},
      roomteacherid = #{record.roomteacherid,jdbcType=INTEGER},
      cleanteacherid = #{record.cleanteacherid,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      remark1 = #{record.remark1,jdbcType=VARCHAR},
      remakr2 = #{record.remakr2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jw.bean.Room" >
    update t_room
    <set >
      <if test="buildingnum != null" >
        buildingnum = #{buildingnum,jdbcType=VARCHAR},
      </if>
      <if test="roomnum != null" >
        roomnum = #{roomnum,jdbcType=VARCHAR},
      </if>
      <if test="roomteacherid != null" >
        roomteacherid = #{roomteacherid,jdbcType=INTEGER},
      </if>
      <if test="cleanteacherid != null" >
        cleanteacherid = #{cleanteacherid,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remakr2 != null" >
        remakr2 = #{remakr2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jw.bean.Room" >
    update t_room
    set buildingnum = #{buildingnum,jdbcType=VARCHAR},
      roomnum = #{roomnum,jdbcType=VARCHAR},
      roomteacherid = #{roomteacherid,jdbcType=INTEGER},
      cleanteacherid = #{cleanteacherid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      remark1 = #{remark1,jdbcType=VARCHAR},
      remakr2 = #{remakr2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>